body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.wrap1{
    display: flex;
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}

.about_me{
    height: 500Px;
    width: 55%;
    padding: 20px;
    text-align: justify;
    margin: 20px;
    margin-left: 5%;
    overflow: hidden;
}

.botton{
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(rgb(241, 158, 4), tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

.my_pic{
    height: 500px;
    width: 40%;
    padding: 20px;
}

.my_pic img{
    max-width: 100%;
}

#my_name{
    color:orange
}

.wrap2{
    display: flex;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100px;
}

.wrap3{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
   background-position: left;
}

.wrap_experience{
    display: flex;
}

#wrap3_header{
    margin-left: 30px;
}

.about_ex h3{
    color: orange;
}

.about_ex{
    box-shadow:5px 7px 40px grey;
    border-left: 7px solid tomato;
}